---
layout: page
title: Search
description: "Looking for something specific? Start here."
slug: search
---
<h2>Search</h2>
Looking for something specific?

{% assign all_tags_concatenated = "" %}

{% for post in site.posts %}
  {% assign post_tags = post.tags | join: " " %}
  {% assign all_tags_concatenated = all_tags_concatenated | append: " " | append: post_tags %}
{% endfor %}

{% assign all_tags_array = all_tags_concatenated | split: " " | uniq | sort %}

<div class="tag-list-wrapper">
{% for tag in all_tags_array %}
   {% assign tag_display = tag | replace: '-', ' ' %}
   <a href="{{ site.url }}/tag/{{ tag | downcase }}" class="tag-list-item no-underline">{{ tag_display }}</a>
{% endfor %}
</div>