<script src='https://www.googletagmanager.com/gtag/js?id=UA-152054297-5' id='google_gtagjs-js' async type="dd156e5293626f76fea92ad4-text/javascript"></script>
<script id="google_gtagjs-js-after" type="dd156e5293626f76fea92ad4-text/javascript">
window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}
gtag('set', 'linker', {"domains":["ardenwolfsky.com"]} );
gtag("js", new Date());
gtag("set", "developer_id.dZTNiMT", true);
gtag("config", "UA-152054297-5", {"anonymize_ip":true});
gtag("config", "GT-T9H3SPC");
</script>