{% if page.url == "/" %}<div class="overlay">{% endif %}
    {% if page.url != "/" %}<section class="hero is-small no-image">{% endif %}
    {% if page.url == "/" %}<section class="hero is-medium">{% endif %}
        <div class="hero-body">
            <div class="container">
                {% if page.url != "/" %}
                <h1 class="page-title">{{ page.title }}</h1>
                {% endif %}   
            </div>
        </div>
    </section>
{% if page.url == "/" %}</div>{% endif %}