<div class="card">
    <a href="{{ site.baseurl }}{{ post.url }}" class="no-underline">
    <div class="card-image">
        <img src="{{ site.cdn}}/img/borders/drink-border.png" class="card-border right-top-border" alt="Drink Border">
        <img src="{{ site.cdn}}/img/borders/drink-border.png" class="card-border left-top-border" alt="Drink Border">
        <img src="{{ site.cdn}}/img/borders/drink-border.png" class="card-border right-bottom-border" alt="Drink Border">
        <img src="{{ site.cdn}}/img/borders/drink-border.png" class="card-border left-bottom-border" alt="Drink Border">
        <img src="{{ post.image | prepend: site.cdn }}" alt="{{ post.title }}" width="100%" class="card-drink-image">
    </div>
    </a>
    <div class="card-content">
        <div class="has-text-centered">
            <p class="title is-4">{{ post.title}}</p>
            <div class="tags">
                {% for tag in post.tags %}
                    {% assign tag_display = tag | replace: '-', ' ' %}
                    <a href="{{ site.url }}/tag/{{ tag | downcase }}" class="tag tag-front no-underline">{{ tag_display }}</a>
                {% endfor %}
            </div>    
        </div>
    </div>
</div>
</a>