<div class="buttons">
    <a href="https://twitter.com/ArdenWolfsky" class="button is-dark" target="_blank"><i class="fa-brands fa-twitter"></i>
    </a>
    <a href="https://bsky.app/profile/ardenwolfsky.com" class="button is-dark" target="_blank"><i class="fa-brands fa-bluesky"></i>
    </a>
    <a href="https://www.instagram.com/ardenwolfsky/" class="button is-dark" target="_blank"><i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCRZuXWJAp4lND41IsgMROlA" class="button is-dark" target="_blank"><i class="fa-brands fa-youtube"></i>
    </a>
    <a href="https://ardenwolfsky.carrd.co/" class="button is-dark" target="_blank"><i class="far fa-address-card"></i>
    </a>
    <a href="https://discord.gg/aZbtj8Czeb" class="button is-dark" target="_blank"><i class="fa-brands fa-discord"></i>
    </a>
    <a href="https://www.facebook.com/profile.php?id=100083230765662" class="button is-dark" target="_blank"><i class="fa-brands fa-facebook"></i>
    </a>
</div>