<div class="buttons">
    <a href="https://www.facebook.com/profile.php?id=100083230765662" class="button is-dark" target="_blank">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://twitter.com/ArdenWolfsky" class="button is-dark" target="_blank">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.instagram.com/ardenwolfsky/" class="button is-dark" target="_blank">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCRZuXWJAp4lND41IsgMROlA" class="button is-dark" target="_blank">
        <i class="fab fa-youtube"></i>
    </a>
    <a href="https://discord.gg/HgUZ7hMmVJ" class="button is-dark" target="_blank">
        <i class="fab fa-discord"></i>
    </a>
    <a href="https://ardenwolfsky.carrd.co/" class="button is-dark" target="_blank">
        <i class="far fa-address-card"></i>
    </a>
</div>