@font-face {
    font-family: CopaseticNF-Bold;
    src: url(/assets/font/CopaseticNF-Bold.ttf);
}
@font-face {
    font-family: DyerArtsandCrafts;
    src: url(/assets/font/dyer-arts-and-crafts.normal.ttf);
}
.instagram-media {
    margin: 0 auto !important;
    min-width: auto !important;
}
.content blockquote {
    border-left: unset !important;
}
.tiktok-embed {
    padding: 0px !important;
}
.tiktok-embed::before,
.tiktok-embed::after {
    display: none !important;
}
.youtube-iframe {
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
.youtube-iframe iframe {
    max-width: 100%;
    height: 650px;
    margin: 0 auto;
    display: block;
}
.drink-media {
    text-align: center !important;
}
.navbar {
    background-color: #630100 !important;
}
.navbar p,
.navbar a {
    font-family: DyerArtsandCrafts;
}
.navbar-item {
    text-transform: uppercase;
    color: #ba723b !important;
    font-weight: bold;
    background-color: #630100 !important;
}
.navbar-item:hover {
    background-color: unset !important;
    color: #f1d0af !important;
}
.navbar-brand {
    justify-content: center;
    align-items: center;
}
.navbar-brand p {
    color: #ba723b !important;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.7rem;
}
.navbar-burger a {
    border-color: #ba723b !important;
    color: #f1d0af !important;
}
.navbar-burger span {
    background-color: #ba723b !important;
}
.section {
    background-color: #630100 !important;
}
.container {
    color: #f1d0af !important;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
}
/*
.page-background {
    background-image: url("/img/design.jpg");
    background-repeat: repeat;
    background-size: 40%;
}
*/
.page-title {
    font-size: 2.5rem;
    color: #f1d0af;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}
.hero {
    background-color: #410100;
    background-image: url("/img/bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    position: relative;
    z-index: -1;
}
.container h2 {
    color: #ba723b !important;
    font-size: 2.5em;
    font-weight: bold;
    font-family: DyerArtsandCrafts;
}
.card {
    overflow: hidden;
    background-color: unset !important;
    position: relative;
}
.card-image {
    background-color: #f1d0af;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}
.card-image img {
    display: block;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    margin-bottom: -10px;
}
.card-image:hover .card-drink-image {
    transform: scale(1.1);
}
.card-content {
    background-color: #f1d0af;
    padding-top: 5px !important;
    position: relative;
    z-index: 2;
}
.card-content .title {
    font-size: 2.7rem !important;
    font-family: CopaseticNF-Bold;
    color: #630100;
    font-weight: bold;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}
.content a {
    color: #f1d0af;
    text-decoration: underline;
}
.content a:hover {
    color: #ba723b;
    text-decoration: underline;
}
.content h1 {
    color: #ba723b;
    font-size: 2.3em;
    text-align: center;
    font-family: CopaseticNF-Bold;
}
.tag-front {
    background-color: #630100 !important;
    color: #f1d0af !important;
    font-size: 1rem !important;
}
.pagination-previous {
    background-color: #f1d0af !important;
    color: #630100 !important;
    margin: 4px !important;
    padding-left: 0.75em !important;
    padding-right: 0.75em !important;
}
.pagination-link {
    background-color: #f1d0af !important;
    color: #630100 !important;
    font-weight: bold;
    border-color: #f1d0af !important;
}
.is-current {
    background-color: #ba723b !important;
    color: #630100 !important;
    font-weight: bold;
    border-color: #ba723b !important;
}
.pagination-next {
    background-color: #f1d0af !important;
    color: #630100 !important;
}
.front-intro {
    text-align: center;
    font-size: 1.5rem !important;
}
.front-intro h1 {
    font-size: 2em;
    color: #ba723b !important;
    font-family: DyerArtsandCrafts;
}
.footer {
    background-color: #410100 !important;
    padding-bottom: 3rem;
}
.footer p {
    color: #ba723b !important;
}
.footer a {
    color: #f1d0af !important;
    text-decoration: underline !important;
}
.footer a:hover {
    color: #ba723b !important;
    text-decoration: underline !important;
}
.tag-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
    margin-top: 20px;
}
.tag-list-item {
    border: 1px solid;
    padding: 1ch 2ch;
    color: #f1d0af;
}
.tag-list-item:hover {
    color: #ba723b;
}
.tags {
    justify-content: center !important;
}
.tags a:hover {
    color: #ba723b !important;
}
.no-image {
    background-image: unset !important;
}
hr {
    background-color: #ba723b !important;
}
.about-text {
    flex: 1;
    padding-left: 20px;
}
.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-me-image {
    width: 30%;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}
.header-container {
    background-color: #630100 !important;
}
.hero-container {
    background-color: unset !important;
}
.footer-container {
    background-color: unset !important;
}
.drink-image-post {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 20px;
}
.drink-image-post img {
    width: 50%;
}
.fade-in {
    -webkit-animation: fadein 1.0s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.0s; /* Firefox < 16 */
    -ms-animation: fadein 1.0s; /* Internet Explorer */
    -o-animation: fadein 1.0s; /* Opera < 12.1 */
    animation: fadein 1.0s;
}
.page-tags {
    margin-top: 30px;
}
.no-underline {
    text-decoration: none !important;
}
.buttons {
    justify-content: center !important;
}
.buttons .is-dark {
    background-color: #ba723b !important;
}
.buttons a {
    font-size: 1.2rem !important;
}
.buttons a:hover {
    color: #630100 !important;
}
.post-date {
    text-align: center;
}
.left-top-border {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    transform: rotate(-180deg);
    width: 50%;
}
.right-top-border {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    transform: rotate(-90deg);
    width: 50%;
}
.left-bottom-border {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    transform: rotate(90deg);
    width: 50%;
}
.right-bottom-border {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    width: 50%;
}
.smaller {
    width: 30%;
}
.drink-image-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.drink-image-item {
    margin: 5px;
    box-sizing: border-box;
}
.drink-image-item img {
    width: 100%;
    height: auto;
}