@font-face {
	font-family: Vijaya;
	src: url(../font/vijaya.ttf);
}


.instagram-media {
	margin: 0 auto !important;
}

.tiktok-embed::before, .tiktok-embed::after {
	display: none !important;
}

.youtube-iframe {
	text-align: center !important;
}

.drink-image-post {
    width: 50%;
}

.navbar {
    background-color: #630100 !important;
}

.navbar-brand {
    font-size: 2.2rem;
}

.navbar-brand a {
    color: #F1D0AF !important;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 700;
    text-transform: uppercase;
}

.section {
    background-color: #630100 !important;
}

.container {
    color: #F1D0AF !important;
}

.page-title {
    font-size: 2.5rem;
    color: #F1D0AF;
}

.hero {
    background-color: #410100;
    background-image: url("/img/bg.png");
    background-size: cover;
}

.container #ingredients,  .container #shaker-1, .container #shaker-2 {
    color: #F1D0AF !important;
}

h1 {
    font-family: Montserrat,sans-serif;
}

.card-image {
    text-align: center;
    background-color: #F1D0AF;
}

.card-content {
    background-color: #F1D0AF;
}

.card-content .title {
    font-size: 2.3em;
    font-family: Vijaya;
}