@media screen and (max-width: 700px) {
    .drink-image-post img {
        width: 80%;
    }
}
@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: #630100 !important;
    }
    .navbar-brand p {
        padding-left: 10px;
    }
}
@media screen and (max-width: 1200px) {
    .navbar-item {
        font-size: 1.3em !important;
    }
}
@media screen and (min-width: 1200px) {
    .hero {
        background-position-y: -50px;
    }
}
@media screen and (max-width: 1200px) {
    .hero {
        background-position-y: -20px;
    }
    .container {
        font-size: 1rem;
    }
    .navbar-brand p {
        font-size: 1.8rem;
    }
    .card-content .title {
        font-size: 2rem !important;
    }
}
@media screen and (max-width: 900px) {
    .card-content .title {
        font-size: 1.7rem !important;
    }
}
@media screen and (min-width: 1400px) {
    .hero {
        background-position-y: -50px;
        padding-top: 9.5rem;
        padding-bottom: 9.5rem;
    }
}
@media screen and (max-width: 1500px) {
    .page-background {
        background-size: 40%;
    }
}
@media screen and (max-width: 768px) {
    .hero {
        background-position-y: -20px;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }
    .card-content .title {
        font-size: 2rem !important;
    }
}
@media screen and (max-width: 700px) {
    .about-me {
        flex-direction: column;
    }
    .about-me-image {
        order: -1;
        margin-bottom: 20px;
        width: 80%;
    }
    .container-page {
        padding-left: 13px;
    }
    .section {
        padding-left: 8px;
        padding-right: 8px;
    }
    .page-background {
        background-size: 80%;
    }
}
@media screen and (max-width: 600px) {
    .hero {
        background-position-y: -20px;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }
}
@media screen and (max-width: 426px) {
    .navbar-brand p {
        font-size: 1.5rem;
        padding-left: 0px;
    }
    .page-background {
        background-size: 100%;
    }
}
@media screen and (max-width: 372px) {
    .navbar-brand p {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 760px) {
    .content p, .content a {
        font-size: 1.2rem !important;
    }
    .content h1 {
        font-size: 1.9em !important;
    }
    .content h2 {
        font-size: 1.7em !important;
    }
}