@media screen and (max-width: 1400px) {
    .drink-image-item {
        flex: 0 0 calc(25% - 10px);
    }
    .navbar-item {
        font-size: 0.8em;
    }
}
@media screen and (min-width: 1400px) {
    .hero {
        background-position-y: -50px;
        padding-top: 9.5rem;
        padding-bottom: 9.5rem;
    }
    .drink-image-item {
        flex: 0 0 calc(33% - 10px);
    }
}
@media screen and (max-width: 1215px) {
    .navbar-item {
        font-size: 0.7em;
    }
    .navbar-brand p {
        font-size: 2.3rem;
    }
}
@media screen and (max-width: 1200px) {
    .post-date {
        font-size: 1.2rem;
    }
    .hero {
        background-position-y: -20px;
    }
    .container {
        font-size: 1rem;
    }
    .navbar-brand p {
        font-size: 1.8rem;
    }
    .navbar-item {
        font-size: 1.1em;
    }
    .card-content .title {
        font-size: 2rem;
    }
    h1 {
        font-size: 2.7em;
    }
    .about-text {
        font-size: 1.2rem;
    }
    .drink-image-item {
        flex: 0 0 calc(50% - 10px);
    }
    .bigger {
        font-size: 2rem;
    }
}
@media screen and (min-width: 1200px) {
    .hero {
        background-position-y: -50px;
    }
    .drink-image-item {
        flex: 0 0 calc(33% - 10px);
    }
}
@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: #630100;
        display: none;
    }
    .navbar-brand p {
        padding-left: 10px;
    }
    .drink-image-item {
        flex: 0 0 calc(50% - 10px);
    }
}
@media screen and (max-width: 1000px) {
    .page-background {
        background-size: 60%;
    }
}
@media screen and (max-width: 900px) {
    .card-content .title {
        font-size: 1.7rem;
    }
    .news-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .news-child {
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
    .hero {
        background-position-y: -20px;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }
    .card-content .title {
        font-size: 2rem;
    }
    .post-date {
        margin-bottom: 20px;
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 760px) {
    .content p, .content a {
        font-size: 1.2rem;
    }
    .content h1 {
        font-size: 1.9em;
    }
    .content h2 {
        font-size: 1.7em;
    }
    .news-child a {
        font-size: 1rem;
    }
}
@media screen and (max-width: 700px) {
    .drink-image-post img {
        width: 80%;
    }
}
@media screen and (max-width: 700px) {
    .about-me {
        flex-direction: column;
    }
    .about-me-image {
        order: -1;
        margin-bottom: 20px;
        width: 80%;
    }
    .container-page {
        padding-left: 13px;
    }
    .section {
        padding-left: 8px;
        padding-right: 8px;
    }
    .page-background {
        background-size: 80%;
    }
}
@media screen and (max-width: 600px) {
    .hero {
        background-position-y: -20px;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }
    .drink-image-item {
        flex: 0 0 calc(75% - 10px);
    }
}
@media screen and (max-width: 426px) {
    .navbar-brand p {
        font-size: 1.5rem;
        padding-left: 0px;
    }
    .page-background {
        background-size: 120%;
    }
}
@media screen and (max-width: 372px) {
    .navbar-brand p {
        font-size: 1.2rem;
    }
}