@font-face {
    font-family: GradoGradooNF;
    src: url(/assets/font/gradogradoonf.regular.ttf);
}
@font-face {
    font-family: RitzyRemix;
    src: url(/assets/font/ritzyremix.regular.ttf);
}
.instagram-media {
    margin: 0 auto !important;
    min-width: auto !important;
}
.content blockquote {
    border-left: unset !important;
}
.tiktok-embed {
    padding: 0px !important;
}
.tiktok-embed::before,
.tiktok-embed::after {
    display: none !important;
}
.youtube-iframe {
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
.youtube-iframe iframe {
    max-width: 100%;
    height: 650px;
    margin: 0 auto;
    display: block;
}
.bluesky-iframe {
    display: flex;
    justify-content: center;
}
.drink-media {
    text-align: center !important;
}
.navbar {
    background-color: #630100;
}
.navbar p,
.navbar a {
    font-family: RitzyRemix;
}
.navbar-item {
    text-transform: uppercase;
    color: #ba723b;
    font-weight: bold;
}
.navbar-item:hover {
    background-color: unset !important;
    color: #f1d0af;
}
.navbar-brand {
    justify-content: center;
    align-items: center;
}
.navbar-brand p {
    color: #ba723b;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.3rem;
}
.navbar-burger a {
    border-color: #ba723b;
    color: #f1d0af;
}
.navbar-burger span {
    background-color: #ba723b;
}
.section {
    background-color: #630100;
}
.container {
    color: #f1d0af;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
}
.page-title {
    font-size: 2.5rem;
    color: #f1d0af;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}
.hero {
    background-color: #410100;
    background-image: url("https://imagedelivery.net/WG0vvpzHMcKj08eFQPOnJg/65c4765c-0239-4712-de83-f8dee0626c00/public");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    position: relative;
    z-index: -1;
}
.container h2 {
    color: #ba723b;
    font-size: 2em;
    font-weight: bold;
    font-family: RitzyRemix;
}
.card {
    overflow: hidden;
    background-color: unset;
    position: relative;
    --bulma-card-radius: unset;
}
.card-image {
    background-color: #f1d0af;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}
.card-image img {
    display: block;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    margin-bottom: -10px;
}
.card-image:hover .card-drink-image {
    transform: scale(1.1);
}
.card-content {
    background-color: #f1d0af;
    padding-top: 5px;
    position: relative;
    z-index: 2;
}
.card-content .title {
    font-size: 2.7rem;
    font-family: GradoGradooNF;
    color: #630100;
    font-weight: bold;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}
.content a {
    color: #f1d0af;
    text-decoration: underline;
}
.content a:hover {
    color: #ba723b;
    text-decoration: underline;
}
.content h1 {
    color: #ba723b;
    font-size: 2.5em;
    text-align: center;
    font-family: GradoGradooNF;
}
.tag-front {
    background-color: #630100;
    font-size: 1rem;
}
.pagination-previous {
    background-color: #f1d0af;
    color: #630100 !important;
    margin: 4px;
    padding-left: 0.75em;
    padding-right: 0.75em;
}
.pagination-previous:disabled, .pagination-previous[disabled] {
    background-color: #630100;
}
.pagination-previous:disabled, .pagination-previous[disabled] svg {
    color: #f1d0af;
}
.pagination-link {
    background-color: #f1d0af;
    color: #630100 !important;
    font-weight: bold;
    border-color: #f1d0af;
}
.is-current {
    background-color: #ba723b;
    color: #630100 !important;
    font-weight: bold;
    border-color: #ba723b;
}
.pagination-next {
    background-color: #f1d0af;
    color: #630100 !important;
    margin: 4px;
    padding-left: 0.75em;
    padding-right: 0.75em;
}
.front-intro {
    text-align: center;
    font-size: 1.5rem;
}
.front-intro h1 {
    font-size: 3em;
    color: #ba723b;
    font-family: RitzyRemix;
}
.footer {
    background-color: #410100;
    padding-bottom: 3rem;
}
.footer p {
    color: #ba723b;
}
.footer a {
    color: #f1d0af;
    text-decoration: underline;
}
.footer a:hover {
    color: #ba723b;
    text-decoration: underline;
}
.tag-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
    margin-top: 20px;
}
.tag-list-item {
    border: 1px solid;
    padding: 1ch 2ch;
    color: #f1d0af;
}
.tag-list-item:hover {
    color: #ba723b;
}
.tags {
    justify-content: center;
}
.tags a:hover {
    color: #ba723b;
}
.card .tags {
    margin-top: 20px;
}
hr {
    background-color: #ba723b;
}
.about-text {
    flex: 1;
    padding-left: 20px;
}
.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-me-image {
    width: 30%;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}
.header-container {
    background-color: #630100;
}
.footer-container {
    background-color: unset;
}
.drink-image-post {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 20px;
}
.drink-image-post img {
    width: 50%;
}
.fade-in {
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}
.page-tags {
    margin-top: 30px;
}
.no-underline {
    text-decoration: none !important;
}
.buttons {
    justify-content: center;
}
.buttons .is-dark {
    background-color: #ba723b;
}
.buttons a {
    font-size: 1.2rem;
}
.buttons a:hover {
    color: #630100;
}
.post-date {
    text-align: center;
}
.no-drag {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.left-top-border {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    transform: rotate(-180deg);
    width: 50%;
}
.right-top-border {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    transform: rotate(-90deg);
    width: 50%;
}
.left-bottom-border {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    transform: rotate(90deg);
    width: 50%;
}
.right-bottom-border {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    width: 50%;
}
.centered {
    text-align: center;
}
.smaller {
    width: 30%;
}
.smaller-text {
    font-size: smaller;
}
.results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.search-input {
    border-color: #f1d0af;
    background-color: #410100;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: #f1d0af;
    font-size: 1em;
}
.search-input::placeholder {
    color: #f1d0af;
    opacity: 1;
}
.search-result {
    font-family: GradoGradooNF;
}
.search-result a {
    text-decoration: none;
    font-size: 1.5em;
}
.columns {
    justify-content: center
}