---
layout: default
---
<h1>{{ page.title }}</h1>
<div class="content centered">
  {{ content }}
</div>
{% assign lowercase_display_name = page.title | downcase %}
<div class="columns is-multiline">
  {% for post in paginator.posts %}
    <div class="column is-4">
      {% include post-item.html %}
    </div>
  {% endfor %}
</div>
{% if paginator.total_pages > 1 %}
<nav class="pagination is-centered">
  <ul class="pagination-list">
    {% for page in (1..paginator.total_pages) %}
      <li>
        <a href="{% if page == 1 %}{{ site.url }}/category/{{ lowercase_display_name }}{% else %}{{ site.url }}/category/{{ lowercase_display_name }}/page{{ page }}{% endif %}" class="pagination-link no-underline {% if page == paginator.page %}is-current{% endif %}">
          {{ page }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}