<!doctype html>
<html>
{% include head.html %}
<body>
{% include navbar.html %}
{% include hero.html %}
<section class="section page-background">
    <div class="container">
        {{ content }}
    </div>
</section>
<div class="section footer">
    <div class="container">
        <div class="has-text-centered">
            <p>Managed with love and care by <a href="https://hyper.lol">hyperdefined</a> 🌼🌸</p>
            <p>We don't track or use your data.</p>
        </div>
    </div>
</div>
<script src="{{ site.baseurl }}/assets/js/app.js"></script>
</body>
</html>