<!doctype html>
<html lang="en">
{% include head.html %}
<body>
{% include navbar.html %}
{% if page.layout == 'homepage' %}
{% include hero.html %}
{% endif %}
<section class="section page-background">
    <div class="container container-page fade-in">
        <div class="content">
            {% if page.border %}
            <img src="{{ site.cdn}}335011c4-7e9e-4f96-d5c9-9f8a2d512700/public" class="right-top-border smaller">
            <img src="{{ site.cdn}}335011c4-7e9e-4f96-d5c9-9f8a2d512700/public" class="left-top-border smaller">
            {% endif %}
            {{ content }}
        </div>
    </div>
</section>
<div class="section footer">
    <div class="container footer-container">
        <div class="has-text-centered">
            {% include social-buttons.html %}
            <p>Managed with love and care by <a href="https://hyper.lol">hyperdefined</a> 🌼🌸</p>
            <p class="smaller-text"><a href="https://github.com/chrisrhymes/mere-blog-theme/blob/master/LICENSE.txt">License</a> | <a href="{{ site.url}}/privacy-policy">Privacy</a></p>
        </div>
    </div>
</div>
<script src="{{ site.baseurl }}/assets/js/app.js"></script>
</body>
</html>