<!doctype html>
<html>
{% include head.html %}
<body>
{% include navbar.html %}
{% if page.url == "/" %}
{% include hero.html %}
{% endif %}
<section class="section page-background">
    <div class="container container-page fade-in">
        <div class="content">
            {% if page.border %}
            <img src="{{ site.baseurl}}/img/borders/drink-border.png" class="right-top-border smaller">
            <img src="{{ site.baseurl}}/img/borders/drink-border.png" class="left-top-border smaller">
            {% endif %}
            {{ content }}
        </div>
    </div>
</section>
<div class="section footer">
    <div class="container footer-container">
        <div class="has-text-centered">
            {% include social-buttons.html %}
            <p>Managed with love and care by <a href="https://hyper.lol">hyperdefined</a> 🌼🌸</p>
            <p>We don't track or use your data.</p>
        </div>
    </div>
</div>
<script src="{{ site.baseurl }}/assets/js/app.js"></script>
</body>
</html>